@keyframes example {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}

.firstPart,
.secondPart {
  margin: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgba(223, 223, 223, 0.76);
  width: 70%;
  margin-left: 15%;
}

.firstPart tr td {
  text-align: top;
  border: 1px solid rgb(41, 41, 41);
  border-collapse: collapse;
}

.photo {
  text-align: center;
}

#img {
  width: 25%;
}

.Surname {
  color: rgb(61, 61, 61);
  vertical-align: middle;
  text-align: center;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.thirdPart {
  margin: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgba(223, 223, 223, 0.76);
  width: 70%;
  margin-left: 15%;
  color: rgb(190, 190, 190);
}

.jobTitle h1 {
  color: rgb(61, 61, 61);
}

#jobTime {
  color: rgb(61, 61, 61);
  vertical-align: text-top;
}

.Achivments_10 {
  color: rgb(61, 61, 61);
}
